.body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    /* grid-template-columns: 25% 50% 25%; */
    /* grid-template-rows: 100px 50px; */
    /* grid-template: filas/ columnas; */
    /* grid-template: 100px 150px 90px / 1fr 1fr 1fr 1fr; */
    /* grid-template: 100px 150px 90px / repeat(4 ,1fr); */
    grid-template: 100px 150px 90px / repeat(4, minmax(200px, 1fr));
    /* grid-column-gap: 30px; */
    /* grid-row-gap: 10px; */
    grid-gap: 10px; 
}
.item {
    background: lightblue;
    padding: 10px;
    border: 1px solid black;
}
.item:nth-of-type(4) {
    background: lightgreen;
    display: grid;
    grid-template: 80px 80px 80px / 100px 100px 100px;
    overflow: auto;
}
.item .item {
    background: lightcoral;
    overflow: hidden;
}
